<form method="post" action="/login">
	email: <input name="email" /><br />
	pass: <input type="password" name="password" /><br />
	<input type="submit" value="login" /><br /><br />
</form>

<a href="/setup">Setup an account</a><br /><br />
